body
  font-family 'Exo 2', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  
  *:focus
    outline none
    
  #body
    margin-top 45px
    padding 0
  
  header
    .navbar-toggler
      padding-right 0
      padding-left 0

    a
      color inherit
      
    nav
      > a:first-child
        margin-top .425rem
        
      > a
        margin-left 0 !important
        border-top 1px #ddd solid
        
      a,
      button
        display block
        width 100%
     
    .modal-header
      display flex
      
      h4
        margin-right auto
      
      button
        width auto

      
  .modal-backdrop
    z-index 2
    
@media screen and (min-width: 34em)
  .modal-dialog
    width 90%
    
  header
    nav
      display flex
      width auto
      
      a
        margin-top 0 !important
        border none !important
      
      .btn
        width auto
      
    > .clearfix
      display inline-block
    
    nav
      a
        margin auto 20px