body
  font-family 'Exo 2', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

  #body
    margin-top 70px
    padding 10px
  
  header
    padding 0 auto
    a
      color inherit
      
    .navbar-toggler
      padding-right 0
      
      &:focus
        outline none
      
    nav
      button
        display block
        width 100%
        
      &:first-child
        border none
        
      a.nav-toggle
        font-size 1.3em
        -webkit-touch-callout none
        -webkit-user-select none
        -khtml-user-select none
        -moz-user-select none
        -ms-user-select none
        user-select none

        &:hover
          text-decoration none
          cursor pointer
          
    .bd-navbar .nav-link
      float none

    .bd-navbar .nav-link + .nav-link
      margin-left 0
      
  .modal-backdrop
    z-index 2

.js
  nav
    display none
    
@media screen and (min-width: 34em)
  header
    nav
      display flex
      width auto
      
      a
        border 0
        margin-right 10px
      
      .btn
        width auto
      
    > .clearfix
      display inline-block
    
    nav
      a
        margin auto 10px