header.navbar.navbar-light.navbar-static-top.bd-navbar(role='banner')
  .clearfix
    button.navbar-toggler.pull-xs-right.hidden-sm-up(type='button', data-toggle='collapse', data-target='#bd-main-nav') &#9776
    a.navbar-brand.hidden-sm-up(href='/')
      | Bootstrap
  #bd-main-nav.collapse.navbar-toggleable-xs
    nav.nav.navbar-nav
      a.nav-item.nav-link(href='/') Bootstrap
      a.nav-item.nav-link.active(href='/getting-started/introduction/') Documentation
      a.nav-item.nav-link(href='/examples/') Examples
      a.nav-item.nav-link(href='http://themes.getbootstrap.com') Themes
      a.nav-item.nav-link(href='http://expo.getbootstrap.com') Expo
      a.nav-item.nav-link(href='http://blog.getbootstrap.com') Blog