header.navbar.navbar-static-top.bd-navbar.container(role='banner')
  .clearfix
    button.navbar-toggler.pull-xs-right.hidden-sm-up(type='button', data-toggle='collapse', data-target='#bd-main-nav') &#9776
    a.navbar-brand(href='/') Shexplore
  #bd-main-nav.collapse.navbar-toggleable-xs.pull-sm-right
    nav.nav.navbar-nav
      a.nav-item.nav-link(href='/') Home
      a.nav-item.nav-link(href='/discuss') Discuss

      if !username
        button.btn.btn-secondary(type='button', data-toggle='modal', data-target='#loginModal') Login/Signup

        #loginModal.modal.fade(tabindex='-1', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') &#10006;
                h4.modal-title Modal title

              .modal-body
                form(action='/login/login', method='post')
                  div
                    label(for='username') Username:
                    input#username(type='text',name='username')
                  div
                    label(for='password') Password:
                    input#password(type='password',name='password')
                  div
                    input(type='submit', value='Submit')

              .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close

                button.btn.btn-primary(type='button') Save changes
