.container
  a.navbar-brand(href='/') Shexplore

  button.navbar-toggler.hidden-sm-up.pull-xs-right(data-toggle='collapse', data-target='#exCollapsingNavbar2') &#9776

  nav#exCollapsingNavbar2.collapse.navbar-toggleable-xs.pull-xs-right.container
    ul.nav.navbar-nav
      li.nav-item.active
        a.nav-link(href='#') Home
      li.nav-item
        a.nav-link(href='#') Discuss
      li.nav-item
        a.nav-link.btn.btn-primary-outline(href='#') Login/Signup