extends layout

block body
  //jumbotron
  .jumbotron.jumbotron-fluid.bg-info
    .container.p-t-3.text-sm-center
      h2.display-2 Shexplore
      p.lead Online collaboration tool for coders

  .container
    .row
      .container.col-lg-6.col-xl-4.p-l-0
        h3 Share
        p.lead The tool of the future that allows innovation and collaboration at the same time. From this point in time, users no longer have to be at the same place to collaborate and share ideas.

      .container.col-lg-6.col-xl-4.p-l-0
        h3 Explore
        p.lead View what others in your group have accomplished at the press of a button. Customize projects to your own liking.
