extends ./layout

block body

  h1 Create Your Profile

  form(action='/profile/update', method='post')
    div
      div Username: #{username}
    each dat, index in data
      div
        span= localization[index]
        input(type='text',name=index,value=dat)
    button Update
