extends layout

block body
  h2.m-y-1 Signup
  form(action='/login/signup', method='post')
    fieldset.form-group
      label(for='username') Username:
      input.form-control#username(type='text',name='username')
    fieldset.form-group
      label(for='mail') Email:
      input.form-control#email(type='email',name='email')
    fieldset.form-group
      label(for='password') Password:
      input.form-control#password(type='password',name='password')
    fieldset.form-group
      button.btn.btn-primary.pull-xs-right(type='submit') Submit
