body {
  font-family: 'Exo 2', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body *:focus {
  outline: none;
}
body #body {
  margin-top: 45px;
  padding: 10px;
}
body header .navbar-toggler {
  padding-right: 0;
  padding-left: 0;
}
body header a {
  color: inherit;
}
body header nav > a:first-child {
  margin-top: 0.425rem;
}
body header nav > a {
  margin-left: 0 !important;
  border-top: 1px #ddd solid;
}
body header nav a,
body header nav button {
  display: block;
  width: 100%;
}
body header .modal-header {
  display: flex;
}
body header .modal-header h4 {
  margin-right: auto;
}
body header .modal-header button {
  width: auto;
}
body .modal-backdrop {
  z-index: 2;
}
@media screen and (min-width: 34em) {
  .modal-dialog {
    width: 90%;
  }
  header nav {
    display: flex;
    width: auto;
  }
  header nav a {
    margin-top: 0 !important;
    border: none !important;
  }
  header nav .btn {
    width: auto;
  }
  header > .clearfix {
    display: inline-block;
  }
  header nav a {
    margin: auto 20px;
  }
}
