body {
  font-family: 'Exo 2', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body #body {
  margin-top: 70px;
}
body header nav a.nav-toggle {
  font-size: 1.3em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body header nav a.nav-toggle:hover {
  text-decoration: none;
  cursor: pointer;
}
body header .bd-navbar .nav-link {
  float: none;
}
body header .bd-navbar .nav-link + .nav-link {
  margin-left: 0;
}
.js nav {
  display: none;
}
